#side-bar {
  width: 20vw;
  height: 100vh;
}

#image-viewer {
  width: 80vw;
  height: 100vh;
}

.App {
  display: inline-flex;
}

@media only screen and (max-width: 768px) {
  .App {
    display: inline;
  }
}
